### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())

# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count)

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count)

# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing_count = school_data_complete[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_percentage = overall_passing_count / float(student_count)

# Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools": [school_count], 
                                 "Total Students": [student_count], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_percentage]})


# Optional: give the displayed data cleaner formatting
district_summary.style.format({"Total Students": "{:,}",
                               "Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.2f}", 
                       "Average Math Score": "{:.2f}", 
                       "% Passing Math": "{:.2%}", 
                       "% Passing Reading": "{:.2%}", 
                       "% Overall Passing": "{:.2%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# School Name
school_name = school_data_complete.set_index("school_name").groupby(["school_name"])

# School Type
school_types = school_data.set_index(["school_name"])["type"]

# Total Students
per_school_counts = school_data_complete["school_name"].value_counts()

# Total School Budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

# Per Student Budget
per_school_capita = per_school_budget / per_school_counts

# Average Math Score
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

# Average Reading Score
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

# % Passing Math Score
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts

# % Passing Reading Score
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts

# % Overall Passing
overall_passing = school_data_complete[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"] >= 70)]
per_overall_passing = overall_passing.groupby(["school_name"]).count()["student_name"] / per_school_counts

# Create a dataframe
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": per_overall_passing})



per_school_summary.style.format({"Total Students": "{:,}", 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          "Average Math Score": "{:.2f}", 
                          "Average Reading Score": "{:.2f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "% Overall Passing": "{:.2%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
# Sort and display the top five performing schools by % overall passing.
top_5 = per_school_summary.sort_values("% Overall Passing", ascending = False)

top_5.head().style.format({"Total Students": "{:,}", 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          "Average Math Score": "{:.2f}", 
                          "Average Reading Score": "{:.2f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "% Overall Passing": "{:.2%}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
# Sort and display the five worst-performing schools by % overall passing.
bottom_5 = per_school_summary.sort_values("% Overall Passing", ascending = True)

bottom_5.head().style.format({"Total Students": "{:,}", 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          "Average Math Score": "{:.2f}", 
                          "Average Reading Score": "{:.2f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "% Overall Passing": "{:.2%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# Create a pandas series for each grade. Hint: use a conditional statement
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine series into single data frame
math_scores = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})


math_scores.style.format({"9th": "{:.2f}", 
                             "10th": "{:.2f}", 
                             "11th": "{:.2f}", 
                             "12th": "{:.2f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


reading_scores = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})



reading_scores.style.format({"9th": "{:.2f}", 
                             "10th": "{:.2f}", 
                             "11th": "{:.2f}", 
                             "12th": "{:.2f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]


per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

# Average Math Score
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

# Average Reading Score
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

# % Passing Math
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

# % Passing Reading
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

# Overall Passing Rate
spending_overall_passing = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]


spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": spending_overall_passing})


spending_summary.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              '% Overall Passing': '{:.2%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Bins 
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]


per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names)


size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]


size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]


size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]


size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]


size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]


size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": size_overall_passing})



size_summary.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              '% Overall Passing': '{:.2%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [12]:
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]


type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]


type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]


type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]


type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]


type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing": type_overall_passing})


type_summary.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              '% Overall Passing': '{:.2%}'})